<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Przekierowanie wielkich liter na małe w URL (case-insensitive URLs)
#    RewriteMap lc int:tolower
#    RewriteCond %{REQUEST_URI} [A-Z]
#    RewriteRule ^(.*)$ ${lc:$1} [L,R=301]

    # Przekierowanie z /politryka-prywatnosci.php na /politryka-prywatnosci
    RewriteRule ^politykacookies\.php$ /polityka-cookies [R=301,L]
    RewriteRule ^regulamin\.php$ /regulamin [R=301,L]
    RewriteRule ^onas\.php$ /onas [R=301,L]
    RewriteRule ^donas\.php$ /kontakt [R=301,L]
    RewriteRule ^kontakt\.php$ /kontakt [R=301,L]


    # Przekierowanie z /abc-zakupowicza,2/ na /abc-zakupowicza (gdzie 'abc-zakupowicza' to stała część)
    RewriteCond %{REQUEST_URI} ^/abc-zakupowicza,\d+/$
    RewriteRule ^abc-zakupowicza,\d+/$ /abc-zakupowicza [R=301,L]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>



