<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    # public/.htaccess  – na samą górę, nad RewriteEngine On
    <Files "robots.txt">
      Header set Content-Type "text/plain"
    </Files>
    RewriteRule ^robots\.txt$ - [L]

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Przekierowanie z leroymerlin.gazetkapromocyjna.com.pl na leroy-merlin.gazetkapromocyjna.com.pl
#    RewriteCond %{HTTP_HOST} ^leroymerlin\.w-promocji\.pl$ [NC]
#    RewriteRule ^(.*)$ https://leroy-merlin.w-promocji.pl/$1 [L,R=301]

    # Przekierowanie z /politryka-prywatnosci.php na /polityka-prywatnosci
    RewriteRule ^politykacookies\.php$ /polityka-cookies [R=301,L]
    RewriteRule ^regulamin\.php$ /regulamin [R=301,L]
    RewriteRule ^onas\.php$ /onas [R=301,L]
    RewriteRule ^donas\.php$ /kontakt [R=301,L]
    RewriteRule ^kontakt\.php$ /kontakt [R=301,L]

    # Przekierowanie z /abc-zakupowicza,2/ na /abc-zakupowicza (gdzie 'abc-zakupowicza' to stała część)
    RewriteCond %{REQUEST_URI} ^/abc-zakupowicza,\d+/$
    RewriteRule ^abc-zakupowicza,\d+/$ /abc-zakupowicza [R=301,L]

    # Przekierowanie z /godziny-otwarcia/[miasto]/ na /[miasto]
    RewriteCond %{REQUEST_URI} ^/godziny-otwarcia/([a-zA-Z0-9_-]+)/$
    RewriteRule ^godziny-otwarcia/([a-zA-Z0-9_-]+)/$ /%1 [L,R=301]

    # Przekierowanie z /[nazwa_sieci]-gazetki-promocyjne-archiwum,[nr-strony]/ na / (strona główna)
    RewriteCond %{REQUEST_URI} ^/([a-zA-Z0-9_-]+)-gazetki-promocyjne-archiwum,\d+/?$
    RewriteRule ^([a-zA-Z0-9_-]+)-gazetki-promocyjne-archiwum,\d+/?$ / [L,R=301]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>



