@import '@fortawesome/fontawesome-free/css/brands.css';
@import '@fortawesome/fontawesome-free/css/solid.css';
@import '@fortawesome/fontawesome-free/css/regular.css';
@import '@fortawesome/fontawesome-free/css/fontawesome.css';



@font-face {
    font-family: 'Lidl Font Cond Pro Semibold';
    src: url("/resources/fonts/Lidl Font Cond Pro Semibold/Lidl Font Cond Pro Semibold.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}

@font-face {
    font-family: 'Lidl Font Cond Pro';
    src: url("/resources/fonts/Lidl Font Cond Pro/Lidl Font Cond Pro.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}

[x-cloak] { display: none !important; }


@tailwind base;
@tailwind components;
@tailwind utilities;


.hidden-slide {
        visibility: hidden;
        opacity: 0;
    }

/* ... */

